#logo {
  height: 40px;
}

.tag-line {
  text-align: center;
  margin: 0px;
}
#parent-card {
  min-width: 300px;
}

@media only screen and (min-width: 769px) {
  #parent-card {
    min-width: 300px;
  }
  #logo {
    height: 45px;
  }
  .tag-line {
    text-align: center;
    margin: 0px;
  }
}
