<div
  fxlayout
  fxLayoutAlign="center center"
  *ngIf="(componentToShow$ | async) === 'email' && emailForm"
  style="height: 100%"
  @fadeIn
>
  <mat-form-field [formGroup]="emailForm" fxFlex appearance="outline">
    <mat-label>Enter Registered Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error
      ><shared-validation-message
        [control]="emailForm.get('email')"
        controlName="Valid email"
      ></shared-validation-message
    ></mat-error>
  </mat-form-field>
</div>

<div
  fxlayout
  fxLayoutAlign="center center"
  *ngIf="(componentToShow$ | async) === 'otp' && otpForm"
  style="height: 100%"
  @fadeIn
>
  <mat-form-field fxFlex appearance="outline" [formGroup]="otpForm">
    <mat-label>Enter OTP</mat-label>
    <input matInput type="text" formControlName="otp" />
    <mat-error
      ><shared-validation-message
        [control]="otpForm.get('otp')"
        controlName="OTP (One Time Password)"
      ></shared-validation-message
    ></mat-error>
  </mat-form-field>
</div>

<div
  *ngIf="(componentToShow$ | async) === 'newPassword' && passwordForm"
  @fadeIn
  [formGroup]="passwordForm"
  fxLayout="column"
  style="width: 100%"
>
  <mat-form-field fxFlex appearance="outline">
    <mat-label>New Password</mat-label>
    <input
      matInput
      type="password"
      minlength="8"
      formControlName="newPassword"
    />
    <mat-error
      ><shared-validation-message
        [control]="passwordForm.get('newPassword')"
        controlName="New Password"
      ></shared-validation-message
    ></mat-error>
  </mat-form-field>

  <mat-form-field fxFlex appearance="outline">
    <mat-label>Re-Enter New Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" />
    <mat-error
      ><shared-validation-message
        [control]="passwordForm.get('confirmPassword')"
        controlName="Confirm Password"
      ></shared-validation-message
    ></mat-error>
  </mat-form-field>
</div>
