<div fxLayout="column" fxLayoutAlign="start center">
  <div fxFlex>
    <img
      src="assets/images/logo.png"
      alt="Time"
      id="logo"
      style="height: 45px"
    />
  </div>

  <span
    fxFlex
    class="tag-line"
    style="font-size: 13px"
    [style.color]="themeService.darkBlueForgroundColor"
  >
    Time is priceless, we even count moments!
  </span>
</div>
<div fxLayout fxLayoutAlign="center center">
  <h3 style="font-weight: 700; margin-bottom: 5px; margin-top: 5px">
    {{ title }}
  </h3>
</div>
<div fxLayout style="margin-top: 4px">
  <span fxFlex *ngIf="isType == 'OTP submiting screen'"
    >You'll receive a code to verify here so you can reset your account
    password</span
  >
</div>
