<div class="wrapper" gdRows="1fr" gdColumns="1fr">
  <mat-card
    class="mat-elevation-z8"
    style="padding: 25px; border-radius: 8px; margin: auto"
    id="parent-card"
    fxLayout="column"
  >
    <app-forgot-password-header [title]="title"></app-forgot-password-header>

    <div
      fxLayout="column"
      fxLayoutAlign="center stretch"
      style="padding: 15px; height: 100%; width: 100%"
    >
      <app-forgot-password-controls
        fxFlex
        [passwordForm]="passwordForm"
        [emailForm]="emailForm"
        [otpForm]="otpForm"
      ></app-forgot-password-controls>

      <button
        *ngIf="(componentToShow$ | async) === 'email'"
        mat-raised-button
        color="primary"
        style="width: 100%"
        (click)="requestOtp()"
        [class.spinner]="isLoading$ | async"
        [disabled]="isLoading$ | async"
      >
        Send OTP
      </button>
      <button
        *ngIf="(componentToShow$ | async) === 'otp'"
        mat-raised-button
        color="primary"
        (click)="verifyOtp()"
        [class.spinner]="isLoading$ | async"
        [disabled]="isLoading$ | async"
      >
        Verify OTP
      </button>
      <button
        *ngIf="(componentToShow$ | async) === 'newPassword'"
        mat-raised-button
        color="primary"
        (click)="resetPassword()"
        [class.spinner]="isLoading$ | async"
        [disabled]="isLoading$ | async"
      >
        Reset
      </button>
    </div>
    <div
      fxLayout
      fxLayoutAlign="end center"
      style="margin-top: 5px; padding-right: 15px"
    >
      <a style="cursor: pointer" (click)="backToSingIn()"> Back to Sign In </a>
    </div>
  </mat-card>
</div>
